.blog-list{
    text-align: start !important;
    padding: 5px;
    box-sizing: border-box;
}

a.blog-list{
    text-decoration: none;
    color: black;
}

.blog-list .blog-list:hover{
    border-radius: 6px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: green;
    padding: 5px;
    background-color: gainsboro;
}