.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  padding: 10px 20px; /* first value is top/bottom, second is left/right */
  /* margin-bottom: 0; */
}

.header-bar .left h3 {
  color: rgb(177, 28, 28);
  margin: 0;
}

.header-bar .right a {
  color: rgb(177, 28, 28);
  text-decoration: none;
  margin-left: 20px;
  padding: 8px 12px;
}

.header-bar .right a:hover {
  background-color: rgb(177, 28, 28);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
